@media (max-width: 1600px) {}

@media (max-width: 1440px) {}

@media (max-width: 1220px) {}

@media (max-width: 1150px) {}

@media (max-width: 992px) {
    .blog {
        .row {
            gap: 40px;
        }
    }
}

@media (max-width: 876px) {}

@media (max-width: 768px) {
    //blog 876px


    .blog {

        &__col_left,
        &__col_right {
            width: 100%;
            max-width: 510px;
            margin: 0 auto;

            img {
                margin: 0 auto;
                display: block;
            }
        }

        .row {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
}

@media (max-width: 576px) {

    //blog 576px
    .blog {

        &__col_left,
        &__col_right {
            width: 100%;
            max-width: 100%;
            margin: 0 auto;

            img {
                max-width: 100%;
                height: auto;
                margin: 0 auto;
                display: block;
            }
        }

        &__content,
        &__author {
            height: auto;
            width: 100%;
            max-width: 100%;
            line-height: normal;
        }

        &__title {
            font-size: 20px;
            line-height: normal;
        }

        .row {
            gap: 40px;
        }
    }


}